%%%
%%% CHICAGO BOSS PROJECT SKELETON
%%%
%%% This file can be modified by you to avoid you needing to reenter
%%% defaults when creating new projects.  For full configuration
%%% details, please visit
%%% https://github.com/evanmiller/ChicagoBoss/wiki/Configuration

%%% When running tests, you may want to create a separate configuration file
%%% "boss.test.config" which, if present, will be read instead of boss.config.

[{boss, [
    {path, "../ChicagoBoss"},
    {applications, [cb_admin,bookRestCatalogue]},
    {assume_locale, "en"},

%%%%%%%%%%%%%%
%% Database %%
%%%%%%%%%%%%%%

  {db_host, "localhost"},
    {db_port, 3306},
    {db_adapter, mysql},
    {db_username, "bookuser"},
    {db_password, "book"},
    {db_database, "bookdb"},

%%%%%%%%%%%%%%%
%% Webserver %%
%%%%%%%%%%%%%%%

%% port - The port to run the server on. Defaults to 8001.
%% server - The HTTP server to use. Valid values are: 
%%   mochiweb - The Mochiweb Web Server
%%   cowboy - The Cowboy Web Server (Comet, WebSockets, highly scalable, ...)
    {port, 8004},
    {server, cowboy},

%%%%%%%%%%%%%%
%% Websocket %%
%%%%%%%%%%%%%%
    %% you can specify a global timeout for your websocket connection
    %% when a websocket is idle more than the timeout, it is closed by the webserver
    %% and you receive in your handle_close function  {normal, timeout} as the
    %% reason.

    %{websocket_timeout, 5000},

%%%%%%%%%%%%%%
%% Sessions %%
%%%%%%%%%%%%%%

    {session_adapter, mock},
    {session_key, "_boss_session"},
    {session_exp_time, 525600},
    {session_cookie_http_only, false},
    {session_cookie_secure, false},
%    {session_enable, true},
%    {session_mnesia_nodes, [node()]}, % <- replace "node()" with a node name
%    {session_domain, ".domain.com"},

%%%%%%%%%%%%%%%
%% Templates %%
%%%%%%%%%%%%%%%

%% template_tag_modules - List of external modules to search for
%%   custom ErlyDTL tags.
%% template_filter_modules - List of external modules to search for
%%   custom ErlyDTL filters.
%%    {template_tag_modules, []},
  %%  {template_filter_modules, []},

%%%%%%%%%
%% SSL %%
%%%%%%%%%

%% ssl_enable - Enable HTTP over SSL
%% ssl_options - SSL options; see ssl(3erl)

%    {ssl_enable, true},
%    {ssl_options, []},

     {dummy, true} % a final dummy option so we don't have to keep track of commas
]},

%% MESSAGE QUEUE

{ tinymq, [
%% max_age- Maximum age of messages in the [message queue], in
%%   seconds. Defaults to 60.
    % {max_age, 60}
]},

%%%%%%%%%%%%%
%% Logging %%
%%%%%%%%%%%%%

%% Lager default config. 
%% More info: https://github.com/basho/lager 

{lager, [
    {handlers, [
      {lager_console_backend, info},
      {lager_file_backend, [
        {"log/error.log", error, 10485760, "$D0", 5},
        {"log/console.log", info, 10485760, "$D0", 5}
      ]}
    ]}
  ]},

%% APPLICATION CONFIGURATIONS

%% domains - A list of domains to serve the application on
%% static_prefix - The URL prefix of static assets
%% doc_prefix - The URL prefix for developer documentation
{ bookRestCatalogue, [
    {path, "../bookRestCatalogue"},
    {base_url, "/"},
%    {domains, all},
%    {static_prefix, "/static"},
%    {doc_prefix, "/doc"},

    {dummy, true}
]},
{cb_admin, [
    {path, "../ChicagoBoss/deps/cb_admin"},
    {allow_ip_blocks, ["127.0.0.1"]},
    {base_url, "/admin"}
]}].